tr:nth-child(even) {
    background-color: #d7dfd0;
  }

  tr:nth-child(odd) {
    background-color: white;
  }
  .table-responsive {
    height: 500px;
    overflow-y: scroll;
  }

  thead th {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
  }