{% extends 'base.html' %}
{% load static %}
{% load agro_filtros %}
{% block plugin_css%}
{% endblock %}               
{% block head %}
<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
  }
</style>
{% endblock head %}
{% block content %} 
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
        {% include 'mensajes.html' %}
      <h4 class="card-title">Costo de produccion</h4>
        <p class="card-description">
          Informacion general
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Fecha</label>
              <div class="col-sm-9">
                {{costo.fecha}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Futuro uso</label>
              <div class="col-sm-9">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Cultivo</label>
                <div class="col-sm-9">
                    {{costo.cultivo}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Sistema de cultivo</label>
                <div class="col-sm-9">
                    {{costo.sistema_cultivo}}
                </div>
              </div>
            </div>
        </div>

  
        {% if modificacion %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Actualizar</button>
        <button type="submit" name='borrar' class="btn btn-primary mr-2">Borrar</button>
        {% else %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Nuevo</button>
        {% endif %}
        <button type='button' class="btn btn-dark" onclick="window.location.href='{% url 'vista_costo_prod' %}';">Cancel</button>


    </div>
  </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Detalle</h4>
      <p class="card-description">
        <div class="row">
          <div class="col-10">
            {{empresa.nombre}}
          </div>
          <div class="col-2">
            <select class="js-example-basic-single w-100" name="" id="id_historico">
              <option value=-1>(opcional) seleccione precarga</option>
              {% for his  in lista_historica  %}
                <option value={{his.id}}>{{his.nombre}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </p>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                orden
              </th>
              <th>
                Producto
              </th>
              <th>
                Especificacion
              </th>
              <th>
                UM
              </th>
              <th>
                Cantidad
              </th>
              <th>
                Precio U.
              </th>
              <th>
                Moneda
              </th>
              <th>
                Cotizacion
              </th>
              <th>
                Total
              </th>
            </tr>
          </thead>
        
          <tbody>
            <form class="form-sample" method='post' name ='renglonForm' enctype="multipart/form-data">
                {% csrf_token %}
                <tr>
                    <td>
                        {{form.orden}}
                        {{form.orden.errors}}
                    </td>
                    <td>
                        {{form.producto}}
                        {{form.producto.errors}}
                    </td>
                    <td>
                        {{form.espec}}
                        {{form.espec.errors}}
                    </td>
                    <td>
                        {{form.um}}
                        {{form.um.errors}}
                    </td>
                    <td>
                        {{form.cantidad}}
                        {{form.cantidad.errors}}
                    </td>
                    <td>
                        {{form.precio_unitario}}
                        {{form.precio_unitario.errors}}
                    </td>
                    <td>
                        {{form.moneda}}
                        {{form.moneda.errors}}
                    </td>
                    <td>
                        {{form.cotizacion}}
                        {{form.cotizacion.errors}}
                    </td>
                    <td>
                    </td>

                </tr>
            </form>
            {% for ocosto in costo_os %}
              {% ifchanged ocosto.prod_name.agro_rubro %}
                <tr>
                  <td width='8%'></td>
                  <td width='20%'>
                    <p class='h4'>
                      {{ocosto.prod_name.agro_rubro}} - ({{ocosto.prod_name.agro_rubro.letra}})
                    </p>
                  </td>
                  <td width='12%'></td>
                  <td width='10%'></td>
                  <td width='10%'></td>
                  <td width='10%'></td>
                  <td width='10%'></td>
                  <td width='10%'>Total anterior</td>
                  <td width='10%'>{{ocosto.total_anterior|moneda}}</td>
                </tr>
              {% endifchanged %}

              <tr>
                  <td>
                    {{ocosto.orden}}
                  </td>
                  <td>
                    <a href="/03-linea/{{ocosto.id}}">{{ocosto.prod_name}}</a> 
                  </td>
                  <td>
                    {{ocosto.especificacion}}
                  </td>
                  <td>
                    {{ocosto.um}}
                  </td>
                  <td>
                    {% if ocosto.um.abreviado == '%' %}
                      {{ocosto.cantidad|porcentaje}}
                    {% else %}
                      {{ocosto.cantidad}}
                    {% endif %}
                  </td>
                  <td>
                    {% if ocosto.um.abreviado == '%' %}
                      {% if ocosto.precio_unitario == 1 %}
                        A+B+C
                      {% else %}
                        {% if ocosto.precio_unitario == 2 %}
                          A+B+C+D
                        {% else %}
                          FALTA
                        {% endif %}
                      {% endif %}
                    {% else %}
                      {{ocosto.precio_unitario|moneda}}
                    {% endif %}
                  </td>
                  <td>
                    {{ocosto.moneda}}
                  </td>
                  <td>
                    {{ocosto.cotizacion}}
                  </td>
                  <td>
                    {{ocosto.total|moneda}}
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
    function submitform() { 
        document.renglonForm.submit();
        document.renglonForm.method='post';      

    }
    function load_especificaciones() { 
      $.ajax({
        url : "{% url 'ajax_get_espec' %}",
        data : {
          'producto' : id_producto.value,
        },
        method : 'GET',
        success : function(response) {
          var opciones = "";
          response.data.forEach(function(item, index) {
            opciones += '<option value="' + item.id + '">' + item.nombre + '</option>';
          });
          id_espec.innerHTML = opciones;
          console.log(response.data);

        } // reference to below
      });

    }
    document.onkeydown=function(){
        if(window.event.keyCode=='13'){
            submitform();
        }
    }
    window.addEventListener('load', async() => {
      id_historico.addEventListener('change', async() => {
        consultar();

      });
      id_producto.addEventListener('change', async() => {
        load_especificaciones();
      });
    });
    function success_function(response) {
      response.data.forEach(function(data, index) {
        console.log(data);
      });
    }
    function consultar() {
        confirm2('head', 'Quiere cargar los datos de la base?, IMPORTANTE: los datos se eliminaran y se reemplazaran con los nuevos!', 'cancel', 'ok', 
        function () {
          var dirurl = '/03-loadcosto/' + {{costo.id}} + '/' + id_historico.value;
          window.location.href = dirurl;
          {% comment %} $.ajax({
            url : "{% url 'ajax_get_costo' %}",
            data : {
              'costo' : id_historico.value,
            },
            method : 'GET',
            success : success_function // reference to below
          });  {% endcomment %}
        });
    }

</script>
{% endblock %}
{% block nav %}
{% include 'nav_home.html' %}
{% endblock %}

{% block plugin_js %}
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/confirm.js' %}"></script>
{% endblock %}



