{% extends 'base.html' %}
{% load static %}
{% block plugin_css%}
{% endblock %}                          
{% block content %} 
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Actualizacion de datos</h4>
      <form class="form-sample" method='post'>
        {% csrf_token %}
        <p class="card-description">
          Datos personales
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nombre</label>
              <div class="col-sm-9">
                {{form.nombre}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Apellido</label>
              <div class="col-sm-9">
                {{form.apellido}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Genero</label>
              <div class="col-sm-9">
                {{form.genero}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">F. Nacimiento</label>
              <div class="col-sm-9">
                {{form.fecha_nacimiento}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nacionalidad</label>
              <div class="col-sm-9">
                {{form.nacionalidad}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Imagen</label>
              <div class="col-sm-9">
                {{form.image}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">T. Documento</label>
              <div class="col-sm-9">
                {{form.tipodoc}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Documento</label>
              <div class="col-sm-9">
                {{form.documento}}
              </div>
            </div>
          </div>
        </div>

        <p class="card-description">
          Direccion
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Direccion 1</label>
              <div class="col-sm-9">
                {{form.direccion}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Direccion 2</label>
              <div class="col-sm-9">
                {{form.direccion2}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Pais</label>
              <div class="col-sm-9">
                {{form.pais}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Provincia</label>
              <div class="col-sm-9">
                {{form.provincia}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Ciudad</label>
              <div class="col-sm-9">
                {{form.ciudad}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">CP</label>
              <div class="col-sm-9">
                {{form.cp}}
              </div>
            </div>
          </div>
        </div>
        <button type="submit" name='ok' class="btn btn-primary mr-2">Actualizar</button>
        <button type='button' class="btn btn-dark" onclick="window.location.href='/';">Cancel</button>
      </form>

    </div>
  </div>
</div>
{% endblock %}
{% block nav %}
{% include 'nav_home.html' %}
{% endblock %}

{% block plugin_js %}
{% endblock %}

{% block custom_js %}
{% endblock %}



