{% extends 'base.html' %}
{% load static %}
{% block plugin_css%}
{% endblock %}                          
{% block content %} 
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
        {% include 'mensajes.html' %}
      <h4 class="card-title">Trazabilidad</h4>
      <form class="form-sample" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <p class="card-description">
          {% if estado_lote.planificacion %}
            Planificacion: {{estado_lote.planificacion}}
          {% else %}
            Sin planificacion
          {% endif %}
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Fecha</label>
              <div class="col-sm-9">
                {{form.fecha}}
                {{form.fecha.errors}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Actividad</label>
              <div class="col-sm-9">
                {{form.actividad}}
                {{form.actividad.errors}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                  {{form.producto}}
                  {{form.producto.errors}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Especificacion</label>
                <div class="col-sm-9">
                    {{form.espec}}
                    {{form.espec.errors}}
                  </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Cantidad</label>
              <div class="col-sm-9">
                {{form.cantidad}}
                {{form.cantidad.errors}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">UM</label>
              <div class="col-sm-9">
                {{form.unidad_medida}}
                {{form.unidad_medida.errors}}
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Precio Unitario</label>
              <div class="col-sm-9">
                {{form.precio_unitario}}
                {{form.precio_unitario.errors}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Uso futuro</label>
              <div class="col-sm-9">
              </div>
            </div>
          </div>
        </div>


        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Moneda</label>
                <div class="col-sm-9">
                  {{form.moneda}}
                  {{form.moneda.errors}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Cotizacion</label>
                <div class="col-sm-9">
                    {{form.cotizacion}}
                    {{form.cotizacion.errors}}
                </div>
              </div>
            </div>
        </div>
  
  
        {% if modificacion %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Actualizar</button>
        <button type="submit" name='borrar' class="btn btn-primary mr-2">Borrar</button>
        {% else %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Nuevo</button>
        {% endif %}
        <button type='button' class="btn btn-dark" onclick="window.location.href='/trazabilidad';">Cancel</button>

      </form>

    </div>
  </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Trazabilidad</h4>
        <p class="card-description">
          {{empresa.nombre}}
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Actividad
                </th>
                <th>
                  Producto
                </th>
                <th>
                  Cantidad
                </th>
              </tr>
            </thead>
            <tbody>
                {% for traza in trazabilidades %}
                    <tr>
                        <td>
                          <a href="/trazabilidad/{{traza.id}}">{{traza.actividad}}</a>
                        </td>
                        <td>
                            {{traza.producto}}
                        </td>
                        <td>
                            {{traza.cantidad}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    window.addEventListener('load', async() => {
      id_actividad.addEventListener("change", async() => {
        load_productos("{% url 'ajax_get_prods_actividad' %}", id_actividad.value);
      });
      id_producto.addEventListener('change', async() => {
        load_especificaciones("{% url 'ajax_get_espec' %}", id_producto.value, id_espec);
      });
      var oprod = id_producto.value;
      var oespe = id_espec.value;
      console.log(oprod);
      load_productos("{% url 'ajax_get_prods_actividad' %}", id_actividad.value, oprod);
      load_especificaciones("{% url 'ajax_get_espec' %}", id_producto.value, id_espec, oespe);
  });
    function load_productos( url_param, actividad, oprod) {
      if (actividad === '') {
        var opciones = "<option value '' selected>---------</option>";
        id_producto.innerHTML = opciones;
      }
      else {
        $.ajax({
          url : url_param,
          data : {
            'actividad' : actividad,
          },
          method : 'GET',
          success : function(response) {
            var opciones = "<option value '' selected>---------</option>";
            response.data.forEach(function(item, index) {
              opciones += '<option value="' + item.id + '">' + item.desc + '</option>';
            });
            id_producto.innerHTML = opciones;
            if (oprod != undefined) id_producto.value = oprod;
            load_especificaciones("{% url 'ajax_get_espec' %}", id_producto.value, id_espec);
    
          } // reference to below
        });
  
      }
    }
</script>

{% endblock %}
{% block nav %}
{% include 'nav_home.html' %}
{% endblock %}

{% block plugin_js %}
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/lotes.js' %}"></script>
<script src="{% static 'js/especificaciones.js' %}"></script>
{% endblock %}



