{% extends 'base.html' %}
{% load static %}
{% block plugin_css%}
{% endblock %}                          
{% block content %} 
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
        {% include 'mensajes.html' %}
      <h4 class="card-title">Aplicacion de planificacion a los lotes</h4>
      <form class="form-sample" method='post'>
        {% csrf_token %}
        <p class="card-description">
          Informacion planificacion
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Descripcion</label>
              <div class="col-sm-9">
                {{planificacion.descripcion}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Observaciones</label>
              <div class="col-sm-9">
                {{planificacion.observaciones}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha</label>
                <div class="col-sm-9">
                  {{planificacion.fecha_plani}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Uso futuro</label>
                <div class="col-sm-9">
                </div>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Campaña</label>
              <div class="col-sm-9">
                  {{planificacion.campana}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Costo</label>
              <div class="col-sm-9">
                {{planificacion.costo}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha desde</label>
                <div class="col-sm-9">
                  {{planificacion.fecha_desde}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha hasta</label>
                <div class="col-sm-9">
                    {{planificacion.fecha_hasta}}
                </div>
              </div>
            </div>
        </div>
        <p class="card-description">
            Lote
        </p>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Campo</label>
                <div class="col-sm-9">
                    {{form.campo}}
                    {{form.campo.errors}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Lote</label>
                <div class="col-sm-9">
                    {{form.lote_campo}}
                    {{form.lote_campo.errors}}
                </div>
              </div>
            </div>
          </div>
    
  
        {% if modificacion %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Actualizar</button>
        <button type="submit" name='borrar' class="btn btn-danger mr-2">Borrar</button>
        {% else %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Nuevo</button>
        {% endif %}
        <button type='button' class="btn btn-dark mr-2" onclick="window.location.href='{{cancel_url}}';">Cancel</button>
        <button type="button" class="btn btn-success btn-icon-text" onclick="window.location.href='/05';">
          <i class="ti-back-left btn-icon-prepend"></i>                                                    
          Volver
        </button>

      </form>

    </div>
  </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Planificaciones</h4>
        <p class="card-description">
          {{empresa.nombre}}
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Campo
                </th>
                <th>
                  Lote
                </th>
                <th>
                  Borrar
                </th>
              </tr>
            </thead>
            <tbody>
                {% for lote in lotes %}
                    <tr>
                        <td>
                            {{lote.lote.campo}}
                        </td>
                        <td>
                            <a href="/05/{{lote.id}}">{{lote.lote}}</a> 
                        </td>
                        <td>
                          <a href="/05-2/{{planificacion.id}}/{{lote.id}}"><i class='ti-close'></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
  
    window.addEventListener('load', async() => {
        id_campo.addEventListener('change', async() => {
          load_lotes("{% url 'ajax_get_lote' %}", id_campo.value, id_lote_campo);
        });
        load_lotes("{% url 'ajax_get_lote' %}", id_campo.value, id_lote_campo, id_lote_campo.value);
      });
  
</script>
{% endblock %}
{% block nav %}
{% include 'nav_home.html' %}
{% endblock %}

{% block plugin_js %}
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/lotes.js' %}"></script>
{% endblock %}



