{% extends 'base.html' %}
{% load static %}
{% block plugin_css%}
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
{% endblock %}                          
{% block content %} 
{% include 'mensajes.html' %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
        {% include 'mensajes.html' %}
      <h4 class="card-title">Registro de lluvias</h4>
      <form class="form-sample" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <p class="card-description">
          Informacion general
        </p>
        {{ form.non_field_errors }}
        <div class="col-12 grid-margin">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Campo</label>
                <div class="col-sm-9">
                  {{form.campo}}
                  {{form.campo.errors}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                  {{form.nombre}}
                  {{form.nombre.erros}}
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
        
              <div class="table-responsive">
                <table id="tabla_lluvia" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Meses</th>
                      <th colspan="31">Días</th>
                    </tr>
                    <tr>
                      <th></th>
                      <!-- Encabezados de la columna 1 al 32 -->
                      <script>
                      for (var i = 0; i < 32; i++){
                        document.write('<th>' + i + '</th>')
                      }                                            
                      </script>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
        
              {% if modificacion %}
              <button type="submit" name='ok' class="btn btn-primary mr-2">Actualizar</button>
              <button type="submit" name='borrar' class="btn btn-primary mr-2">Borrar</button>
              {% else %}
              <button type="submit" name='ok' class="btn btn-primary mr-2">Nuevo</button>
              {% endif %}
              <button type='button' class="btn btn-dark" onclick="window.location.href='/trazabilidad';">Cancelar</button>
              
            </div>
          </div>
        </div>
        
        <script>
          // genero en la columna 0, los meses del año
          var meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
          var tabla = document.getElementById('tabla_lluvia');
        
          for (var i = 0; i < meses.length; i++) {
            var mes_fila = document.createElement('tr');
            var mes_celda = document.createElement('td');
            mes_celda.textContent = meses[i];
            mes_fila.appendChild(mes_celda);
        
            for (var j = 1; j <= 31; j++) {
              var dia = document.createElement('td');
              dia.textContent = '0';
              dia.id = meses[i] + '-' + j;
              mes_fila.appendChild(dia);
            }
        
            tabla.appendChild(mes_fila);
          }
        </script>
   
  
{% endblock %}
{% block nav %}
{% include 'nav_home.html' %}
{% endblock %}
{% block plugin_js %}
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/dataTables.select.min.js' %}"></script>
{% endblock %}
{% block custom_js %}
{% endblock %}