{% extends 'base.html' %}
{% load static %}
{% block plugin_css%}
{% endblock %}                          
{% block content %} 
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
        {% include 'mensajes.html' %}
      <h4 class="card-title">Trazabilidad</h4>
      <form class="form-sample" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <p class="card-description">
          {% if estado_lote.planificacion %}
            Planificacion: {{estado_lote.planificacion}}
          {% else %}
            Sin planificacion
          {% endif %}
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Fecha</label>
              <div class="col-sm-9">
                {{form.fecha}}
                {{form.fecha.errors}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Actividad</label>
              <div class="col-sm-9">
                {{form.actividad}}
                {{form.actividad.errors}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Observaciones</label>
                <div class="col-sm-9">
                  {{form.observaciones}}
                  {{form.observaciones.errors}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                  </div>
              </div>
            </div>
        </div>
  
        {% if modificacion %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Actualizar</button>
        <button type="submit" name='borrar' class="btn btn-primary mr-2">Borrar</button>
        {% else %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Nuevo</button>
        {% endif %}
        <button type='button' class="btn btn-dark" onclick="window.location.href='/trazabilidad';">Cancel</button>
        <button type='button' id="add_form" class="btn btn-warning" >+ items</button>

        {{ traza_lote_item_formset.management_form }}
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Productos</h4>
              <p class="card-description">
                {{empresa.nombre}}
              </p>
              <div class="table-responsive">
                <table id= 'tabla-items' class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        Orden
                      </th>
                      <th>
                        Producto
                      </th>
                      <th>
                        Especificacion
                      </th>
                      <th>
                        Cantidad
                      </th>
                      <th>
                        UM
                      </th>
                      <th>
                        Precio
                      </th>
                      <th>
                        Moneda
                      </th>
                      <th>
                        Cotizacion
                      </th>
                      <th>
                      </th>
                      
                    </tr>
                  </thead>
                  <tbody id='formset'>
                      {% for form2 in traza_lote_item_formset %}
                          <tr>
                              <td>
                                {{form2.o}}
                              </td>
                              <td>
                                {{form2.producto}}
                                {{form2.producto.errors}}
                              </td>
                              <td>
                                {{form2.especificacion}}
                              </td>
                              <td>
                                {{form2.cantidad}}
                              </td>
                              <td>
                                {{form2.unidad_medida}}
                              </td>
                              <td>
                                {{form2.precio_unitario}}
                              </td>
                              <td>
                                {{form2.moneda}}
                              </td>
                              <td>
                                {{form2.cotizacion}}
                              </td>
                              <td>
                                  <i class="ti-close" onclick='eliminar();'></i>
                              </td>
                          </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>        
      </form>

    </div>
  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">
    {% comment %} window.addEventListener('load', async() => {
      id_actividad.addEventListener("change", async() => {
        load_productos("{% url 'ajax_get_prods_actividad' %}", id_actividad.value);
      });
      id_producto.addEventListener('change', async() => {
        load_especificaciones("{% url 'ajax_get_espec' %}", id_producto.value, id_unidad_medida, id_espec);
      });
      var oprod = id_producto.value;
      var oespe = id_espec.value;
      console.log(oprod);
      load_productos("{% url 'ajax_get_prods_actividad' %}", id_actividad.value, oprod);
      load_especificaciones("{% url 'ajax_get_espec' %}", id_producto.value, id_unidad_medida, id_espec, oespe);
  });
    function load_productos( url_param, actividad, oprod) {
      if (actividad === '') {
        var opciones = "<option value '' selected>---------</option>";
        id_producto.innerHTML = opciones;
      }
      else {
        $.ajax({
          url : url_param,
          data : {
            'actividad' : actividad,
          },
          method : 'GET',
          success : function(response) {
            var opciones = "<option value '' selected>---------</option>";
            response.data.forEach(function(item, index) {
              opciones += '<option value="' + item.id + '">' + item.desc + '</option>';
            });
            id_producto.innerHTML = opciones;
            if (oprod != undefined) id_producto.value = oprod;
            load_especificaciones("{% url 'ajax_get_espec' %}", id_producto.value, id_unidad_medida, id_espec);
    
          } // reference to below
        });
  
      }
    } {% endcomment %}
    $(document).ready(function() {
      let formset = $('#formset');
      let addButton = $('#add_form');
      let totalForms = $('#id_traza_lote_item-TOTAL_FORMS');
      let formCount = formset.children().length;
  
      addButton.click(function() {
        let newForm = formset.children().first().clone();
        newForm.find(':input').each(function() {
          let name = $(this).attr('name').replace('-0-', '-' + formCount + '-');
          let id = 'id_' + name;
          $(this).attr({'name': name, 'id': id}).val('').removeAttr('value');
        });
        formCount++;
        totalForms.val(formCount);
        formset.append(newForm);
      });
    });
    function eliminar() {
      let formset = $('#formset');
      let totalForms = $('#id_traza_lote_item-TOTAL_FORMS');
      let formCount = formset.children().length;
      $(this).closest('.form-item').remove();
      formCount--;
      totalForms.val(formCount);
    }
</script>
{% endblock %}
{% block nav %}
{% include 'nav_home.html' %}
{% endblock %}

{% block plugin_js %}
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/lotes.js' %}"></script>
<script src="{% static 'js/especificaciones.js' %}"></script>
{% endblock %}



