{% extends 'base.html' %}
{% load static %}
{% block plugin_css%}
{% endblock %}                          
{% block content %} 


<div class="card">
    <div class="card-body">
        {% include 'mensajes.html' %}
      <h4 class="card-title">Rubro de producto</h4>
      <p class="card-description">
        Informacion general
      </p>
      <form class="form-sample" method='post'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
          <label for="id_descripcion">Descripcion</label>
          {{form.descripcion}}
          {{form.descripcion.erros}}
        </div>
        {% if modificacion %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Actualizar</button>
        <button type="submit" name='borrar' class="btn btn-primary mr-2">Borrar</button>
        {% else %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Nuevo</button>
        {% endif %}
        <button type='button' class="btn btn-dark" onclick="window.location.href='/02-rubro';">Cancel</button>
      </form>
    </div>
</div>




  
<div class="card">
    <div class="card-body">
    <h4 class="card-title">Rubros de producto</h4>
    <p class="card-description">
        {{empresa.nombre}}
    </p>
    <div class="table-responsive">
        <table class="table table-striped">
        <thead>
            <tr>
            <th>
                Descripcion
            </th>
            </tr>
        </thead>
        <tbody>
            {% for rubro in rubros %}
                <tr>
                    <td>
                    <a href="/02-rubro/{{rubro.id}}">{{rubro.descripcion}}</a> 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block nav %}
{% include 'nav_home.html' %}
{% endblock %}

{% block plugin_js %}
{% endblock %}

{% block custom_js %}
{% endblock %}



