{% extends 'base.html' %}
{% load static %}
{% block plugin_css%}
{% endblock %}                          
{% block content %} 
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
        {% include 'mensajes.html' %}
      <h4 class="card-title">Estado del lote {{lote.nombre}}</h4>
      <form class="form-sample" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <p class="card-description">
          Establecimiento: {{lote.campo.nombre}}
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Planificacion</label>
              <div class="col-sm-9">
                {{form.planificacion}}
                {{form.planificacion.errors}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Cultivo</label>
              <div class="col-sm-9">
                {{form.cultivo}}
                {{form.cultivo.errors}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha desde</label>
                <div class="col-sm-9">
                  {{form.fecha_desde}}
                  {{form.fecha_desde.errors}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha hasta</label>
                <div class="col-sm-9">
                    {{form.fecha_hasta}}
                    {{form.fecha_hasta.errors}}
                </div>
              </div>
            </div>
        </div>

  
        {% if modificacion %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Actualizar</button>
        <button type="submit" name='borrar' class="btn btn-primary mr-2">Liberar</button>
        {% else %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Nuevo</button>
        {% endif %}
        <button type='button' class="btn btn-dark" onclick="window.location.href='/estado-lote';">Cancel</button>

      </form>

    </div>
  </div>
</div>
<script>
  window.addEventListener('load', async() => {
    id_planificacion.addEventListener('change', async() => {
      load_plani();
    });
  });

  function load_plani() { 
    $.ajax({
      url : "{% url 'ajax_get_planificacion' %}",
      data : {
        'plani' : id_planificacion.value,
      },
      method : 'GET',
      success : function(response) {
        console.log(response);
        id_fecha_desde.value = response.desde;
        id_fecha_hasta.value = response.hasta;
        id_cultivo.value = response.cultivo_id;

      } // reference to below
    });
  }
</script>
{% endblock %}
{% block nav %}
{% include 'nav_home.html' %}
{% endblock %}

{% block plugin_js %}
{% endblock %}

{% block custom_js %}
{% endblock %}



