{% extends 'base.html' %}
{% load static %}
{% block plugin_css%}
{% endblock %}                          
{% block content %} 
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
        {% include 'mensajes.html' %}
      <h4 class="card-title">Planificacion</h4>
      <form class="form-sample" method='post'>
        {% csrf_token %}
        <p class="card-description">
          Informacion general
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Descripcion</label>
              <div class="col-sm-9">
                {{form.descripcion}}
                {{form.descripcion.errors}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Observaciones</label>
              <div class="col-sm-9">
                {{form.observaciones}}
                {{form.observaciones.errors}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha</label>
                <div class="col-sm-9">
                  {{form.fecha_plani}}
                  {{form.fecha_plani.errors}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Uso futuro</label>
                <div class="col-sm-9">
                </div>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Campaña</label>
              <div class="col-sm-9">
                  {{form.campana}}
                  {{form.campana.errors}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Costo</label>
              <div class="col-sm-9">
                {{form.costo}}
                {{form.costo.errors}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha desde</label>
                <div class="col-sm-9">
                  {{form.fecha_desde}}
                  {{form.fecha_desde.errors}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha hasta</label>
                <div class="col-sm-9">
                    {{form.fecha_hasta}}
                    {{form.fecha_hasta.errors}}
                </div>
              </div>
            </div>
        </div>

  
        {% if modificacion %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Actualizar</button>
        <button type="submit" name='borrar' class="btn btn-danger mr-2">Borrar</button>
        {% else %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Nuevo</button>
        {% endif %}
        <button type='button' class="btn btn-dark" onclick="window.location.href='/05';">Cancel</button>

      </form>

    </div>
  </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Planificaciones</h4>
        <p class="card-description">
          {{empresa.nombre}}
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Campaña
                </th>
                <th>
                  Descripcion
                </th>
                <th>
                  Desde
                </th>
                <th>
                  Hasta
                </th>
                <th>
                  Asignar
                </th>
              </tr>
            </thead>
            <tbody>
                {% for plani in planis %}
                    <tr>
                        <td>
                            {{plani.campana}}
                        </td>
                        <td>
                            <a href="/05/{{plani.id}}">{{plani.descripcion}}</a> 
                        </td>
                        <td>
                          {{plani.fecha_desde}}
                        </td>
                        <td>
                          {{plani.fecha_hasta}}
                        </td>
                        <td>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <a onclick="window.location.href='/05-1/{{plani.id}}';" title='Lotes' type="button" class="btn btn-outline-secondary">
                              <i class="ti-layout-grid3"></i>
                            </a>
                            <a onclick="window.location.href='/05-3/{{plani.id}}';" title='Actividades' type="button" class="btn btn-outline-secondary">
                              <i class="ti-calendar"></i>
                            </a>
                          </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block nav %}
{% include 'nav_home.html' %}
{% endblock %}

{% block plugin_js %}
{% endblock %}

{% block custom_js %}
{% endblock %}



