{% extends 'base.html' %}
{% load static %}
{% block plugin_css%}
{% endblock %}                  
{% block head %}
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock head %}

{% block content %} 
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
        {% include 'mensajes.html' %}
      <h4 class="card-title">Aplicacion de planificacion a las etapas</h4>
      <form class="form-sample" method='post'>
        {% csrf_token %}
        <p class="card-description">
          Informacion planificacion
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Descripcion:</label>
              <div class="col-sm-9">
                <p class='col-form-label'>{{planificacion.descripcion}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Observaciones:</label>
              <div class="col-sm-9">
                <p class='col-form-label'>
                  {{planificacion.observaciones}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha:</label>
                <div class="col-sm-9">
                  <p class='col-form-label'>
                    {{planificacion.fecha_plani}}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Uso futuro</label>
                <div class="col-sm-9">
                </div>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Campaña:</label>
              <div class="col-sm-9">
                <p class='col-form-label'>
                  {{planificacion.campana}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Costo:</label>
              <div class="col-sm-9">
                <p class='col-form-label'>
                  {{planificacion.costo}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha desde:</label>
                <div class="col-sm-9">
                  <p class='col-form-label'>
                    {{planificacion.fecha_desde}}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha hasta:</label>
                <div class="col-sm-9">
                  <p class='col-form-label'>
                    {{planificacion.fecha_hasta}}
                  </p>
                </div>
              </div>
            </div>
        </div>
{% comment %} 
        <p class="card-description">
            Etapa
        </p>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Campo</label>
                <div class="col-sm-9">
                    {{form.campo}}
                    {{form.campo.errors}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Lote</label>
                <div class="col-sm-9">
                    {{form.lote_campo}}
                    {{form.lote_campo.errors}}
                </div>
              </div>
            </div>
          </div> {% endcomment %}
    
  
        {% if modificacion %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Actualizar</button>
        <button type="submit" name='borrar' class="btn btn-danger mr-2">Borrar</button>
        {% else %}
        <button type="submit" name='ok' class="btn btn-primary mr-2">Nuevo</button>
        {% endif %}
        <button type='button' class="btn btn-dark mr-2" onclick="window.location.href='{{cancel_url}}';">Cancel</button>
        <button type="button" class="btn btn-success btn-icon-text" onclick="window.location.href='/05';">
          <i class="ti-back-left btn-icon-prepend"></i>                                                    
          Volver
        </button>
        <button type="button" class="btn btn-success btn-icon-text" onclick="consultar();">
          <i class="ti-back-left btn-icon-prepend"></i>                                                    
          Reasignar
        </button>

      </form>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Planificaciones</h4>
        <p class="card-description">
          {{empresa.nombre}}
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Etapa
                </th>
                <th>
                  Producto
                </th>
                <th>
                  Cantidad
                </th>
                <th>
                  UM
                </th>
              </tr>
            </thead>
            <tbody>
                {% for fila in etapas %}
                    <tr>
                      <td>
                        {{fila.etapa}}
                      </td>
                      <td>
                          {{fila.producto_desc}} 
                      </td>
                      <td>
                        {{fila.cantidad}}
                      </td>
                      <td>
                        {{fila.um.abreviado}}
                      </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-lg-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Costos no asignados</h4>
        <p class="card-description">
          {{empresa.nombre}}
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Producto
                </th>
                <th>
                  Cantidad
                </th>
                <th>
                  Asignar
                </th>
              </tr>
            </thead>
            <tbody>
                {% for fila in noasign %}
                    <tr>
                        <td>
                            {{fila.producto_desc}} 
                        </td>
                        <td>
                          {{fila.cantidad}}
                        </td>
                        <td>
                          <button type="button" onclick= 'asignar_partida({{fila.producto_id}}, "{{fila.producto_desc}}", {{fila.cantidad}}, {{fila.id_costoo}})' class="btn btn-inverse-primary btn-rounded btn-icon">
                            <i class="ti-home"></i>
                          </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
<div id='id_asign' class="inno-modal">
  <div class="inno-modal-content">
    <div class="card">
      <div class="card-body">
          {% include 'mensajes.html' %}
        <h4 class="card-title">Asignacion de costo a etapa</h4>
        <form id='MyForm' class="form-sample" method='post'>
          {% csrf_token %}
          <p class="card-description">
            Detalle
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                  <p id='id_modal_prod'></p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Cant. Total</label>
                <div class="col-sm-9">
                  <p id='id_modal_cantot'></p>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Asignar a
          </p>
  
          <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Etapa</label>
                  <div class="col-sm-9">
                    {{form.etapa}}
                    {{form.etapa.errors}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Cantidad</label>
                  <div class="col-sm-9">
                      {{form.cantidad}}
                      {{form.cantidad.errors}}
                      {{form.identificador}}
                  </div>
                </div>
              </div>
          </div>
  
    
          <button type="button" onclick='cerrar();' class="btn btn-primary btn-rounded btn-fw">Cerrar</button>
  
        </form>
  
      </div>
    </div>
  
  </div>
</div>
<script>
  function consultar() {
    confirm2('Importante', 'Quiere recargar los datos?, IMPORTANTE: los datos se eliminaran y se reemplazaran con los nuevos!', 'cancel', 'ok', 
    function () {
      var dirurl = "/05-3-reset/{{planificacion.id}}";
      window.location.href = dirurl;
    });
  }
  var modal = document.getElementById('id_asign');
  var pprod = document.getElementById('id_modal_prod');
  var pcant = document.getElementById('id_modal_cantot');
  var form_cant = document.getElementById('id_cantidad');
  var form_costto = document.getElementById('id_identificador')
  function asignar_partida( prod_id, prod_desc, cantidad, id_costoo ){
    pprod.innerHTML = prod_desc;
    pcant.innerHTML = cantidad;
    form_cant.value = cantidad;
    id_identificador.value = id_costoo;
    modal.style.display = 'block';
  }
  function cerrar() {
    if (parseFloat(form_cant.value) > parseFloat(pcant.innerHTML))
      alert('error numero invalido')
    else
      modal.style.display = 'none';
      const formulario = document.getElementById('MyForm');
      const data = new FormData(formulario);
      fetch('/05-3/{{planificacion.id}}', {
        method: 'POST',
        body: data,

      })
      .then(response=> {
        if (response.redirected)
          window.location.href = response.url;

      })
      .catch(error=>console.log(error));

  }

</script>
{% endblock %}
{% block nav %}
{% include 'nav_home.html' %}
{% endblock %}

{% block plugin_js %}
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/confirm.js' %}"></script>
{% endblock %}



